@import "tailwindcss";

@font-face{
  font-family: 'bigShoulders';
  src: url("/BigShoulders.ttf") format('truetype');
  font-style: normal;
  font-display: swap;
} 

body {
  font-family: 'bigShoulders', sans-serif;
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;   
}